.logout-button{
    position: absolute !important;
    right: 1rem;
}

.navbar-title{
    margin-left: 1rem;
}

.home-content{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-title{
    margin: auto;
    text-align: center;
}