.details-container{
    width: 100%;
    margin-top: 5rem;
}

.expansion-button{
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.company-info-button{
    width: fit-content;
}

.company-logo{
    width: 100%;
    max-width: 400px;
    height: auto;
}

.company-info{
    max-width: 400px;
    margin: auto auto 1rem;
    border: 3px solid grey !important;
    border-radius: 25px !important;
}

.expandable-container{
    border: 1px solid rgba(0, 0, 0, 0.1);;
    border-radius: 20px;
}

.job-info{
    max-width: 750px;
    margin: 1rem auto 3rem;
    border: 3px solid grey !important;
    border-radius: 25px !important;
}

.apply-button{
    justify-content: center;
}